In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/Yur/Downloads/ovitrap_data_with_province.csv", index_col=[0], usecols = ['date', 'id', 'value', 'adm'])

In [25]:
df

               id   value                   adm
date
2012-06-19      3   17.31  NCR, Fourth District
2012-07-03      3   15.52  NCR, Fourth District
2012-07-17      3   30.00  NCR, Fourth District
2012-07-24      3   22.64  NCR, Fourth District
2012-09-11      3   28.13  NCR, Fourth District
2012-09-18      3   25.76  NCR, Fourth District
2012-09-25      3   15.71  NCR, Fourth District
2012-10-02      3   18.75  NCR, Fourth District
2012-10-09      3   21.54  NCR, Fourth District
2012-10-16      3   26.32  NCR, Fourth District
2012-10-23      3   19.05  NCR, Fourth District
2012-10-30      3   15.87  NCR, Fourth District
2012-11-13      3   20.00  NCR, Fourth District
2012-11-19      3   11.11  NCR, Fourth District
2012-11-26      3   11.11  NCR, Fourth District
2012-12-04      3   11.11  NCR, Fourth District
2012-12-11      3   11.11  NCR, Fourth District
2012-12-18      3   11.11  NCR, Fourth District
2013-07-16      3   23.33  NCR, Fourth District
2013-07-23      3   34.43  NCR, Fourth District
2013-07-30      3   20.34  NCR, Fourth District
2013-08-07      3   10.91  NCR, Fourth District
2013-08-14      3   23.91  NCR, Fourth District
2013-09-04      3   24.44  NCR, Fourth District
2013-09-11      3   15.91  NCR, Fourth District
2013-09-16      3   10.31  NCR, Fourth District
2013-09-18      3   10.87  NCR, Fourth District
2014-07-28      3    9.65  NCR, Fourth District
2014-08-05      3   16.82  NCR, Fourth District
2014-08-12      3   12.15  NCR, Fourth District
...           ...     ...                   ...
2016-11-02  37113   70.00      Misamis Oriental
2016-11-09  37113   80.00      Misamis Oriental
2016-11-23  37113   70.00      Misamis Oriental
2016-11-02  37115   37.03       Lanao del Norte
2016-11-25  37115   13.33       Lanao del Norte
2016-12-15  37115   37.03       Lanao del Norte
2016-12-22  37115   48.14       Lanao del Norte
2016-10-20  37117   86.67      Misamis Oriental
2016-10-19  37118  100.00      Misamis Oriental
2017-06-26  37126  100.00       Camarines Norte
2017-07-03  37126   84.21       Camarines Norte
2017-07-10  37126   77.80       Camarines Norte
2017-07-31  37126   77.80       Camarines Norte
2017-08-07  37126   70.00       Camarines Norte
2017-08-14  37126   40.00       Camarines Norte
2018-01-25  37128    6.66                 Albay
2018-02-13  37128    0.00                 Albay
2018-07-06  37128    0.00                 Albay
2018-07-11  37128    0.00                 Albay
2018-07-21  37128   11.11                 Albay
2018-08-14  37128   22.22                 Albay
2018-08-30  37128    5.56                 Albay
2018-09-04  37128    0.00                 Albay
2018-09-13  37128    5.56                 Albay
2018-09-18  37128    0.00                 Albay
2018-09-29  37128   11.11                 Albay
2018-10-10  37128    0.00                 Albay
2018-06-05  37129   12.00         Camarines Sur
2018-06-05  37130   19.00         Camarines Sur
2018-06-07  37131   20.00         Camarines Sur

[137056 rows x 3 columns]

In [26]:
summary_df = df.groupby(['id']).describe()

In [27]:
print(summary_df.head(5))
print(len(summary_df)) # total number of schools

   value
   count       mean        std   min     25%    50%      75%    max
id
2   63.0  25.678889  14.678300  1.35  13.025  24.42  36.2750  62.07
3   57.0  15.087018   7.663390  0.00  11.110  15.52  20.0000  34.43
6   51.0  24.642745  14.702935  0.00  12.210  23.91  31.9450  60.26
7   88.0   6.602841   8.371931  0.00   0.000   3.18   9.3275  34.38
8   53.0  39.984528  17.904918  6.14  28.450  40.63  51.8500  74.22
12198

In [28]:
summary_df.columns = summary_df.columns.droplevel(0)

In [21]:
summary_df = summary_df[summary_df['count'] > 10] # only look at schools with more than 10 observations
summary_df = summary_df[summary_df['max'] > 10] #filter schools with a max less than 10
summary_df = summary_df[summary_df['mean'] < 90] #filter school with absurdly high means (questionable step)
#summary_df = summary_df[~((summary_df['max']==100)&((summary_df['50%']==0)|(summary_df['50%']==100)))] #most 100 and 0 schools filtered
summary_df = summary_df[~(((summary_df['50%']==0)|(summary_df['50%']==100)))]
summary_df = summary_df[~(summary_df['max'] == summary_df['min'])]

KeyError: 'count'

In [ ]:
df = pd.read_csv("/Users/Yur/Downloads/ovitrap_data_with_province.csv", index_col=[0])

semifiltered_df = df[df['id'].isin(summary_df.index.tolist())]
export_csv = semifiltered_df.to_csv('semiFiltered.csv')

In [14]:
S = semifiltered_df[['adm', 'id', 'value']].groupby(['adm', 'id']).describe()

In [19]:
#df[df['id'].isin(S.index.droplevel(0).tolist())]

,date,id,latitude,longitude,name,value,adm
0,2012-06-19,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,17.310,"NCR, Fourth District"
1,2012-07-03,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,15.520,"NCR, Fourth District"
2,2012-07-17,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,30.000,"NCR, Fourth District"
3,2012-07-24,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,22.640,"NCR, Fourth District"
4,2012-09-11,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,28.130,"NCR, Fourth District"
5,2012-09-18,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,25.760,"NCR, Fourth District"
6,2012-09-25,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,15.710,"NCR, Fourth District"
7,2012-10-02,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,18.750,"NCR, Fourth District"
8,2012-10-09,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,21.540,"NCR, Fourth District"
9,2012-10-16,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,26.320,"NCR, Fourth District"
10,2012-10-23,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,19.050,"NCR, Fourth District"
11,2012-10-30,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,15.870,"NCR, Fourth District"
12,2012-11-13,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,20.000,"NCR, Fourth District"
13,2012-11-19,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,11.110,"NCR, Fourth District"
14,2012-11-26,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,11.110,"NCR, Fourth District"
15,2012-12-04,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,11.110,"NCR, Fourth District"
16,2012-12-11,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,11.110,"NCR, Fourth District"
17,2012-12-18,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,11.110,"NCR, Fourth District"
18,2013-07-16,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,23.330,"NCR, Fourth District"
19,2013-07-23,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,34.430,"NCR, Fourth District"
20,2013-07-30,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,20.340,"NCR, Fourth District"
21,2013-08-07,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,10.910,"NCR, Fourth District"
22,2013-08-14,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,23.910,"NCR, Fourth District"
23,2013-09-04,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,24.440,"NCR, Fourth District"
24,2013-09-11,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,15.910,"NCR, Fourth District"
25,2013-09-16,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,10.310,"NCR, Fourth District"
26,2013-09-18,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,10.870,"NCR, Fourth District"
27,2014-07-28,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,9.650,"NCR, Fourth District"
28,2014-08-05,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,16.820,"NCR, Fourth District"
29,2014-08-12,3,14.504400,121.056000,Kapitan Jose Cardones Memorial School,12.150,"NCR, Fourth District"
...,...,...,...,...,...,...,...
137976,2017-02-17,37109,13.816674,123.333335,Tinambac Central School I,14.290,Camarines Sur
137977,2017-02-22,37109,13.816674,123.333335,Tinambac Central School I,15.090,Camarines Sur
137978,2017-03-03,37109,13.816674,123.333335,Tinambac Central School I,21.560,Camarines Sur
137979,2017-03-09,37109,13.816674,123.333335,Tinambac Central School I,26.530,Camarines Sur
137980,2017-03-15,37109,13.816674,123.333335,Tinambac Central School I,11.540,Camarines Sur
137981,2017-03-23,37109,13.816674,123.333335,Tinambac Central School I,13.730,Camarines Sur
137982,2017-07-12,37109,13.816674,123.333335,Tinambac Central School I,0.000,Camarines Sur
137983,2017-07-19,37109,13.816674,123.333335,Tinambac Central School I,4.690,Camarines Sur
137984,2017-08-03,37109,13.816674,123.333335,Tinambac Central School I,6.250,Camarines Sur
137985,2017-08-17,37109,13.816674,123.333335,Tinambac Central School I,4.840,Camarines Sur
137986,2018-07-09,37109,13.816674,123.333335,Tinambac Central School I,13.160,Camarines Sur
137987,2018-07-23,37109,13.816674,123.333335,Tinambac Central School I,22.580,Camarines Sur
137988,2018-07-30,37109,13.816674,123.333335,Tinambac Central School I,28.125,Camarines Sur
137989,2018-08-08,37109,13.816674,123.333335,Tinambac Central School I,37.140,Camarines Sur
137990,2018-08-20,37109,13.816674,123.333335,Tinambac Central School I,20.830,Camarines Sur
137991,2018-09-04,37109,13.816674,123.333335,Tinambac Central School I,36.110,Camarines Sur
137992,2018-09-10,37109,13.816674,123.333335,Tinambac Central School I,25.000,Camarines Sur
137993,2018-10-10,37109,13.816674,123.333335,Tinambac Central School I,31.420,Camarines Sur
138016,2018-01-25,37128,13.157670,123.751159,UST-Legazpi City,6.660,Albay
138017,2018-02-13,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay
138018,2018-07-06,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay
138019,2018-07-11,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay
138020,2018-07-21,37128,13.157670,123.751159,UST-Legazpi City,11.110,Albay
138021,2018-08-14,37128,13.157670,123.751159,UST-Legazpi City,22.220,Albay
138022,2018-08-30,37128,13.157670,123.751159,UST-Legazpi City,5.560,Albay
138023,2018-09-04,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay
138024,2018-09-13,37128,13.157670,123.751159,UST-Legazpi City,5.560,Albay
138025,2018-09-18,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay
138026,2018-09-29,37128,13.157670,123.751159,UST-Legazpi City,11.110,Albay
138027,2018-10-10,37128,13.157670,123.751159,UST-Legazpi City,0.000,Albay