In [205]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [206]:
#Merged precipitation variables
#Added coordinates
#Transformed the temperature to Celsius
#Transformed wind speed to m/s to km/h
#Rescale evi to have it between 0 and 1
#Droped 'Batanes' administration level, because it has no mosquito data

In [207]:
#Load the data and rename the variables
df = pd.read_csv("Data/aggregated_adm2.csv")
df = pd.DataFrame(df)
df = df.rename(columns = {'JAXA_GPM_L3_GSMaP_v6_operational_hourlyPrecipRate':"perc",
 'JAXA_GPM_L3_GSMaP_v6_reanalysis_hourlyPrecipRate':'perc_real',
 'MODIS_006_MOD11A1_LST_Day_1km':"ls_temp_day",
 'MODIS_006_MOD11A1_LST_Night_1km' : "ls_temp_night",
 'MODIS_006_MYD13A1_EVI' : "evi",
 'NASA_FLDAS_NOAH01_C_GL_M_V001_Qair_f_tavg': "humid",
 'NASA_FLDAS_NOAH01_C_GL_M_V001_Tair_f_tavg': "ns_temp",
 'NASA_FLDAS_NOAH01_C_GL_M_V001_Wind_f_tavg': "wind_speed",
                         'adm_level':'adm_level','date':'date' })

#df.head()
df.shape

(8352, 10)

In [208]:
#Merge precipitation variables
index = df.perc.isnull()

percMerged = pd.DataFrame(np.empty((8352)), columns = list("p"))
percMerged = df.perc
percMerged[index] = df.perc_real[index]
df.perc = percMerged
df = df.drop("perc_real", axis = 1)

/Users/annakopyakova/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [209]:
#Add coordinates
df_m = pd.read_csv("Data/ovitrap_data_with_province.csv") #load mosquito data
coordinates = df_m[["latitude", "longitude","adm"]]

#add lond and latitude
adm = df.adm_level.unique() #list of administrative regions
long = dict.fromkeys(adm)
lat = dict.fromkeys(adm)

for administration in adm:
    long[administration] = df_m.longitude[df_m.adm == administration].mean()
    lat[administration] = df_m.latitude[df_m.adm == administration].mean()

df['longitude'] = df['adm_level'].map(long)
df['latitude'] = df['adm_level'].map(lat)

In [210]:
#Transform the temperature to Celsius
df["ls_temp_day"] = df[["ls_temp_day"]].transform(lambda x: x*0.02-273.15)
df["ls_temp_night"] = df[["ls_temp_night"]].transform(lambda x: x*0.02-273.15)
df["ns_temp"] = df[["ns_temp"]].transform(lambda x: x-273.15)

In [211]:
#Drop 'Batanes' administration level, because it has no mosquito data
df = df[df['adm_level']!='Batanes']

In [212]:
#Transform wind speed to m/s to km/h
df["wind_speed"] = df["wind_speed"].transform(lambda x: x*3.6)

In [213]:
#Rescale evi to have it between 0 and 1
df["evi"] = df["evi"].transform(lambda x: x*0.0001)

In [214]:
#Add observation for 'NCR, City of Manila, First District'
#replicate data frame with new Hierarchical Indexes (adm primary)
df1 = df.set_index(['date', 'adm_level'])
df1 = df1.swaplevel(i='adm_level', j='date')
df1.sort_index(inplace = True)

#make a new data frame with Manila's neighbours and variables of interest (Hierarchical Indexes (date primary))
neighbours = ['NCR, Fourth District','NCR, Second District', 'NCR, Third District']
df2 = df1.loc[neighbours]
df2 = df2[['perc', 'humid', 'ns_temp', 'wind_speed']]
df2 = df2.swaplevel(j='adm_level', i='date')

#create dictionaries with dates as keys and empty values
dates =  df.date.unique()
perc_Manila = dict.fromkeys(dates)
humid_Manila = dict.fromkeys(dates)
ns_temp_Manila = dict.fromkeys(dates)
wind_speed_Manila = dict.fromkeys(dates)

#check values in neighbouring provinces and take an average for a given date
for date in dates:
    perc_Manila[date] = df2.loc[date].perc.mean()
    humid_Manila[date] = df2.loc[date].humid.mean()
    ns_temp_Manila[date] = df2.loc[date].ns_temp.mean()
    wind_speed_Manila[date] = df2.loc[date].wind_speed.mean()
    
#uodate missing values for Manila
idx = pd.IndexSlice
df1.loc[idx['NCR, City of Manila, First District',:],"perc"] = np.fromiter(perc_Manila.values(), dtype=float)
df1.loc[idx['NCR, City of Manila, First District',:],"humid"] = np.fromiter(humid_Manila.values(), dtype=float)
df1.loc[idx['NCR, City of Manila, First District',:],"ns_temp"] = np.fromiter(ns_temp_Manila.values(), dtype=float)
df1.loc[idx['NCR, City of Manila, First District',:],"wind_speed"] = np.fromiter(wind_speed_Manila.values(), dtype=float)

df1.loc['NCR, City of Manila, First District'] #check values fot Manila

,perc,ls_temp_day,ls_temp_night,evi,humid,ns_temp,wind_speed,longitude,latitude
date,,,,,,,,,
2012-01-01,49.153063,26.492245,16.801429,0.064227,0.016681,25.186721,20.742857,120.986894,14.606461
2012-02-01,217.127876,30.087551,18.728571,0.091289,0.016701,25.271987,20.718256,120.986894,14.606461
2012-03-01,73.877518,32.225714,19.627959,0.092095,0.016738,25.837478,21.943444,120.986894,14.606461
2012-04-01,1.502089,32.345918,20.607347,0.107654,0.017386,27.548466,14.733117,120.986894,14.606461
2012-05-01,254.275016,35.219388,-260.885510,0.085027,0.018230,28.561904,9.767565,120.986894,14.606461
...,...,...,...,...,...,...,...,...,...
2019-08-01,263.206283,-66.367959,20.401429,0.107911,0.019686,27.065424,23.618933,120.986894,14.606461
2019-09-01,153.352934,31.560408,5.974898,0.086951,0.018733,26.940169,17.458084,120.986894,14.606461
2019-10-01,102.547443,27.751020,18.814490,0.099110,0.017985,27.270685,15.086960,120.986894,14.606461
2019-11-01,93.102326,-33.513469,18.016939,0.076794,0.018407,26.720972,15.780999,120.986894,14.606461
2019-12-01,301.817967,26.400000,18.535510,0.081557,NaN,NaN,NaN,120.986894,14.606461

In [219]:
#substitute original df with df1, where values for Manila are modified
df1.reset_index(inplace=True)
df = df1

In [222]:
df.shape
df.head()
df[df.adm_level == 'NCR, City of Manila, First District']

,index,adm_level,date,perc,ls_temp_day,ls_temp_night,evi,humid,ns_temp,wind_speed,longitude,latitude
4992,4992,"NCR, City of Manila, First District",2012-01-01,49.153063,26.492245,16.801429,0.064227,0.016681,25.186721,20.742857,120.986894,14.606461
4993,4993,"NCR, City of Manila, First District",2012-02-01,217.127876,30.087551,18.728571,0.091289,0.016701,25.271987,20.718256,120.986894,14.606461
4994,4994,"NCR, City of Manila, First District",2012-03-01,73.877518,32.225714,19.627959,0.092095,0.016738,25.837478,21.943444,120.986894,14.606461
4995,4995,"NCR, City of Manila, First District",2012-04-01,1.502089,32.345918,20.607347,0.107654,0.017386,27.548466,14.733117,120.986894,14.606461
4996,4996,"NCR, City of Manila, First District",2012-05-01,254.275016,35.219388,-260.885510,0.085027,0.018230,28.561904,9.767565,120.986894,14.606461
...,...,...,...,...,...,...,...,...,...,...,...,...
5083,5083,"NCR, City of Manila, First District",2019-08-01,263.206283,-66.367959,20.401429,0.107911,0.019686,27.065424,23.618933,120.986894,14.606461
5084,5084,"NCR, City of Manila, First District",2019-09-01,153.352934,31.560408,5.974898,0.086951,0.018733,26.940169,17.458084,120.986894,14.606461
5085,5085,"NCR, City of Manila, First District",2019-10-01,102.547443,27.751020,18.814490,0.099110,0.017985,27.270685,15.086960,120.986894,14.606461
5086,5086,"NCR, City of Manila, First District",2019-11-01,93.102326,-33.513469,18.016939,0.076794,0.018407,26.720972,15.780999,120.986894,14.606461
5087,5087,"NCR, City of Manila, First District",2019-12-01,301.817967,26.400000,18.535510,0.081557,NaN,NaN,NaN,120.986894,14.606461

In [200]:
#log transform variables

In [223]:
df.to_csv(r'weather_transformed.csv')